#Navbar {
    display:flex;
    width: 50%;
    justify-content: space-between;
    
}

.navLink {
    color: darkcyan;
    font-style: italic;
    text-decoration: inherit;
}

.navLink:hover {
    color: rgb(120, 8, 118);
}

#navBrand {
    padding-right: 10%;
    font-style:oblique
}

.background{
    background-color: brown;
}

